:root{
    --main_color:#0B67DE;
    --secondary_color:#CDCDCD;
    --tertiary_color:#656D78;
    --dark_color:#000000;
    --light_color:#FFFFFF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--dark_color);
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 3rem;
    font-weight: 700;
}
h2{
    font-size: 2.4rem;
}
h4{
    font-size: 1.4rem;
}
p{
    font-size: 1.8rem;
}
a{
    text-decoration: none;
    display: inline;
}
header{
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .icons_container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color:var(--main_color);
}
header .icons_container .icons{
    width: 190px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 20px;
}
header .icons_container a img{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
}
nav .nav-logo_container{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
nav .profile-link{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    text-decoration: underline;
}
.index-main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}
.index-main section{
    height: 245px;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    justify-items: center;
    align-content: center;
    text-align: center;
}
.index-main section h1{
    
}
.index-main_button{
    width: 125px;
    height: 50px;
    background-color: var(--main_color);
    border-radius: 10px;
    margin-top: 5%;
}
.index-main_button a p{
    color: var(--light_color);
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0%;
}
.footer-first_section{
    width: auto;
    height: 30px;
    display: flex;
    background-color: var(--main_color);
    justify-content: center;
    align-items: center;
}
.footer-second_section{
    width: auto;
    height: 50px;
    background-color: var(--dark_color);
}