:root{
    --main_color:#0B67DE;
    --secondary_color:#CDCDCD;
    --tertiary_color:#656D78;
    --dark_color:#000000;
    --light_color:#FFFFFF;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--dark_color);
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 3rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.4rem;
}
p{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    display: inline;
}

/* index */

header{
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .icons_container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color:var(--main_color);
}
header .icons_container .icons{
    width: 190px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 20px;
}
header .icons_container a img{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
}
nav .nav-logo_container{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
nav .profile-link{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    text-decoration: underline;
}
.index-main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}
.index-main section{
    height: 245px;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    justify-items: center;
    align-content: center;
    text-align: center;
}
.button{
    width: 125px;
    height: 50px;
    background-color: var(--main_color);
    border-radius: 10px;
    margin-top: 5%;
}
.button a p{
    width: auto;
    color: var(--light_color);
}
footer{
    width: 100%;
}
.footer-first_section{
    width: auto;
    height: 30px;
    display: flex;
    background-color: var(--main_color);
    justify-content: center;
    align-items: center;
}
.footer-first_section h3{
    color: var(--light_color);
}
.footer-second_section{
    width: auto;
    height: 50px;
    background-color: var(--dark_color);
}

/* Menu Blog */

.menu-blog_main{
    width: 100%;
}
.latest-blogs_container{
    background-color: var(--secondary_color);
}
.imagen1{ 
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.generic_container .section_title{
    width: 280px;
    height: auto;
    margin: 0px 0px 10px 25px;
    padding-top: 10px;
    border-bottom: 1px solid var(--tertiary_color);
}
.inner-container{
    display: flex;
    height: 505px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.article_card{
    min-width: 290px;
    max-width: 300px;
    margin: 10px 0px;
    padding: 0px 20px;
    scroll-snap-align: center;
}
.post_card h2{
    text-align: center;
    margin: 15px 0px;
}
.post_card .button{
    margin: 15px 60px;
}

/* blog */

.blog_main{
    width: 100%;
}
.content_section{
    width: 90%;
    height: 80%;
    margin: 0 auto;
}
.image_container{
    display: flex;
    justify-content: center;
}
.content_container .ubication{
    margin: 25px 0px;
    border-bottom: 1px solid var(--tertiary_color);
}
.content_container .blog_title{
    text-align: center;
    margin-bottom: 25px;
}
.content_container p{
    margin-bottom: 10px;
}
.icons_section{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: var(--secondary_color);
    text-align: center;
}
.icons_section div{
    width: 50%;
    margin: 10px 0px
}
.icons_section h3,p{
    margin-bottom: 10px;
}

/* Profile */

.profile_container{
    width: 290px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: var(--secondary_color);
}